# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# --- Virtual Environment ---
venv/
ENV/
env/
.venv/

# --- Datasets ---
dataset/
*.pkl

# --- Jupyter & VS Code ---
.ipynb_checkpoints/
.vscode/
